#input .CodeMirror,
.CodeMirror.cm-s-django .cm-header {
  color: #fff;
}

#input .CodeMirror .cm-variable-2 {
  color: #fff;
}

/* todo: add more font size */
#input .cm-s-django .cm-header-1 {
  font-size: 200%;
  line-height: 200%;
}

/* todo: add more font size */
#input .cm-s-django .cm-header-2 {
  font-size: 160%;
  line-height: 160%;
}

#input .cm-s-django .cm-header-3 {
  font-size: 125%;
  line-height: 125%;
}

#input .cm-s-django .cm-header-4 {
  font-size: 110%;
  line-height: 110%;
}
