<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Phodit</title>
  <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self';script-src 'self'">-->
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script>
    window.__setTheme = () => {
      let OSTheme = localStorage.os_theme;
      let defaultTheme = 'light';
      document.documentElement.setAttribute(
        'data-theme', OSTheme || defaultTheme,
      )
    };
    __setTheme()
  </script>
  <link rel="stylesheet" href="../assets/css/mifa.css">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/fa/font-awesome.min.css">
  <link rel="stylesheet" href="../dist/component/tree-view/tree-view.css">
  <link rel="stylesheet" href="../dist/editor/simplemde.min.css">
  <link rel="stylesheet" href="../node_modules/highlight.js/styles/github-gist.css">
  <link rel="stylesheet" href="../node_modules/xterm/dist/xterm.css">
</head>
<body>
	<section class="row" id="phodit-editor">
    <div id="tree-view" class="column column-20" style="display: none;"></div>
    <div class="column" id="input">
      <textarea id="input-section"></textarea>
      <interact-bar style="display: none;"></interact-bar>
      <div id="terminal-section">
          <phodit-header id="terminal-header"></phodit-header>
        <div id="terminal"></div>
      </div>
    </div>
	</section>
</body>

<script type="text/javascript" src="../assets/libs/clipboard.min.js"></script>
<script type="text/javascript" src="../node_modules/highlight.js/lib/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript" src="../dist/editor/simplemde.min.js"></script>
<script type="text/javascript" src="../dist/component/tree-view/tree-view.js"></script>
<script type="text/javascript" src="../dist/component/header/dist/phodit-header.js"></script>
<script type="text/javascript" src="../dist/component/interact/interact.js"></script>

<script>
  // You can also require other files to run in this process
  require('../dist/app/renderer.js')
</script>
</html>
