<!DOCTYPE html>
<html>
<head>
  <title>EchoesWorks</title>
</head>
<body>
</body>
<script>
window.onload = function(){
  const { ipcRenderer } = require("electron");
  ipcRenderer.on('phodit.slide.send.content', function(event, arg) {
    console.log(event, arg.data);

    data = arg.data;
    if (!data) {
      return;
    }
    var innerHTML = EchoesWorks.md.parse(data);
    console.log(innerHTML);
    document.querySelector('slide').innerHTML = innerHTML;
    EchoesWorks.imageHandler();
    new EchoesWorks({element: 'slide'});
  });

  ipcRenderer.send("phodit.slide.ready");
};
</script>
</html>
