<!DOCTYPE html>
<html>
<head>
  <title>EchoesWorks</title>
  <link rel="stylesheet" href="./echoesworks/app/echoesworks.css"/>
</head>
<body>
<script src="./echoesworks/dist/echoesworks.js"></script>
<div class="show">
  <slide class="full">

  </slide>
</div>
</body>
<script>
window.onload = function(){
  const { ipcRenderer } = require("electron");
  ipcRenderer.on('phodit.slide.send.content', function(event, arg) {
    console.log(event, arg.data);

    data = arg.data;
    if (!data) {
      return;
    }
    document.querySelector('slide').innerHTML = EchoesWorks.md.parse(data);
    EchoesWorks.imageHandler();
    new EchoesWorks({element: 'slide'});
  });

  ipcRenderer.send("phodit.slide.ready");
};
</script>
</html>
