body {
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.row {
  position: absolute;
}

.row .column {
  padding: 0;
  margin: 0;
}

textarea#input {
  border-radius: 0;
  padding: 1.5em;
  font-size: 14px;
  resize: horizontal; /* user can resize vertically, but width is fixed */
}

#output,
#input {
  width: 100vw;
  height: 100vh;
}

#output {
  padding: 1em;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

p {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

pre.prettyprint {
  border: none;
  border-left: 0.3rem solid #1abc9c !important;
}

figure {
  margin: 0;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 16px;
}

ol li,
ul li,
li p {
  font-size: 14px;
  color: #384452;
}
