body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
}

.f-no-select, .m-tree {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.m-tree {
  position: relative;
  overflow: hidden
}

.m-draggable {
  position: absolute;
  opacity: .8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.m-node.placeholder > * {
  visibility: hidden
}

.m-node.placeholder {
  border: 1px dashed #ccc
}

.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 10px
}

.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer
}

.m-node .caret-right:before {
  content: "\25B8"
}

.m-node .caret-down:before {
  content: "\25BE"
}

.tree {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #21252b
}

.m-node.placeholder {
  border: 1px dashed #1385e5
}

.m-node .inner {
  color: #9da5b4;
  font-size: 12px;
  font-family: Menlo
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
  text-align: left;
}

.m-node .node.is-active {
  background-color: #31363f
}
